body {
    margin-left: auto;
    margin-right:auto;
    width: 850px;
    background-color: #fdf6e3;
    color: #268bd2;
}

pre {
    background-color: #002b36;
    white-space: pre-wrap;
    padding-left: 10px;
}

code {
    color: #93a1a1;
}
