body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.2em;
}

h1 {
  color: blue;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #eee;
  padding: 1em;
  overflow-x: auto;
}

code { background: #f9f9f9; }
pre code { background: none; }
