body {
  max-width: 800px;
  margin: auto;
  line-height: 1.2em;
}

p {
  color: blue;
  size: 1em;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px #eee;
  padding: 1em;
  white-space: pre-wrap;
}

code { background: #f9f9f9; }
pre code { background: none; }
